<!doctype html>
<html class="no-js" ng-app="angularuiplayApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
	<header class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand visible-xs" href="#">Shuffle!</a>
	            </div>
	            <nav class="hidden-xs">
	                <ul class="nav navbar-nav">
	                    <a href="#" role="button" class="navbar-brand">
	                        Shuffle!
	                    </a>
	                    <li><a href="#help">Help</a></li>
	                </ul>
	            </nav>
	            <nav class="visible-xs" collapse="!isCollapsed">
	                <ul class="nav navbar-nav">
	                    <li><a href="#help" ng-click="isCollapsed = !isCollapsed">Help</a></li>
	                </ul>
	            </nav>
	        </div>
	    </div>
	</header>
	<div class="header-placeholder"></div>
	<div role="main">
	    <header class="bs-header text-center" id="overview">
	        <div class="container">
	        </div>
	        <!--
	        <div class="bs-social container">	        	
	            <ul class="bs-social-buttons">
	                <li>
	                    <iframe src="//ghbtns.com/github-btn.html?user=angular-ui&repo=bootstrap&type=watch&count=true"
	                            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	                </li>
	                <li>
	                    <iframe src="//ghbtns.com/github-btn.html?user=angular-ui&repo=bootstrap&type=fork&count=true"
	                            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	                </li>
	                <li>
	                    <a href="https://twitter.com/share" class="twitter-share-button"
	                       data-hashtags="angularjs">Tweet</a>
	                    <script>!function (d, s, id) {
	                        var js, fjs = d.getElementsByTagName(s)[0];
	                        if (!d.getElementById(id)) {
	                            js = d.createElement(s);
	                            js.id = id;
	                            js.src = "//platform.twitter.com/widgets.js";
	                            fjs.parentNode.insertBefore(js, fjs);
	                        }
	                    }(document, "script", "twitter-wjs");</script>
	                </li>
	                <li>
	                    <div class="g-plusone" data-size="medium"></div>
	                    <script type="text/javascript">
	                        (function () {
	                            var po = document.createElement('script');
	                            po.type = 'text/javascript';
	                            po.async = true;
	                            po.src = 'https://apis.google.com/js/plusone.js';
	                            var s = document.getElementsByTagName('script')[0];
	                            s.parentNode.insertBefore(po, s);
	                        })();
	                    </script>
	                </li>
	            </ul>	            
	        </div>
	        -->
	    </header>
	</div>
	
	<div class="container" ng-view class="view-animate"></div>
    
    <footer class="footer">
	    <div class="container">
	        <p>Shuffle - Your online Lucky Draw application</p>
	    </div>
	</footer>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/help.js"></script>
        <!-- endbuild -->
</body>
</html>
